@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
main {
  overflow: hidden;
}

:root {
  --dark-black: #3e3d42;
  --light-blue: #00ebe0;
  --medium-grey: #f2f2f4;
  --custom-white: #fefefe;

  --teko: "Teko", sans-serif;
  --mont: "Montserrat", sans-serif;

  --padding: 2rem;
}

/* FONT SIZES */

h1 {
  font-family: var(--teko);
  font-weight: 600;
  font-size: clamp(2.5rem, 5vw, 4rem);
}

h2 {
  font-family: var(--teko);
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 2.5rem;
}

h3 {
  font-family: var(--teko);
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  padding-bottom: 0.9rem;
}

p {
  color: var(--black);
  line-height: 1.5rem;
  font-size: clamp(0.5rem, 5vw, 1rem);
  font-family: var(--mont);
}

a {
  text-decoration: none;
  color: var(--black);
  font-size: clamp(0.5rem, 5vw, 1rem);
  font-family: var(--mont);
}

a:hover {
  color: var(--light-blue);
}

#site-indicator {
  border-bottom: 1px solid var(--light-blue);
}

.hidden {
  display: none;
}
/* BUUTONS */

.CTA_button {
  border: 1px solid var(--light-blue);
  background-color: var(--light-blue);
  border-radius: 15px 0px 15px 0px;
  color: var(--white);
  max-width: 10rem;
  max-height: 2.7rem;
}

.CTA_button:hover {
  animation: scale 0.3s forwards;
}

.CTA-btn {
  display: block;
  width: 10rem;
  height: 40px;
  line-height: 40px;
  color: var(--dark-black);
  font-family: var(--teko);
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  cursor: pointer;
}

.CTA_button a:hover {
  color: #29292c;
}

.outline_button {
  border: 1px solid var(--light-blue);
  border-radius: 15px 0px 15px 0px;
  color: var(--white);
  max-width: 10rem;
  max-height: 2.7rem;
}

.outline-btn {
  display: block;
  width: 10rem;
  height: 40px;
  line-height: 40px;
  color: var(--light-blue);
  font-family: var(--teko);
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  cursor: pointer;
}

/* SOCIALS */
.s-media {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 70vh;
  left: 0;
  background-color: #303035;
  padding: 1rem;
  border-radius: 0px 15px 15px 0px;
  z-index: 1000;
}

.s-media img {
  width: 45px;
}
/* SOCIALS END */

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-black);
  /* border-bottom: 1px solid var(--color-darkest); */
  padding: 2.2rem;
  align-items: center;
}

#navigation {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  list-style: none;
  padding-left: 2rem;
}

nav a {
  text-decoration: none;
  color: var(--custom-white);
  font-weight: 400;
}

/* BURGER MENU */

.show-desktop {
  display: block;
}
.menu,
.exitButton {
  display: none;
}

.menu {
  width: 3em;
  float: right;

  cursor: pointer;
}

.exitButton {
  position: absolute;
  width: 2em;
  top: 0;
  right: 3em;
  padding-top: 3em;
  cursor: pointer;
}

/* NAVIGATION END */
/* HEADER */
header {
  display: flex;
  min-height: 85vh;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 2rem;
  flex-wrap: wrap-reverse;
  background-color: var(--dark-black);
}

.header_txt {
  color: var(--custom-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 38.5vw;
}

.header_txt h1 {
  line-height: 6.5rem;
  font-weight: 400;
  font-size: 7.5rem;
  border-left: 1.3rem solid var(--light-blue);
  padding-left: 1.2rem;
}
.header_txt p {
  font-size: 1.4rem;
  margin-left: 2.5rem;
}
.header_txt .CTA_button {
  margin-left: 2.5rem;
}
.header_graphics {
  background-image: url(/assets/portfolio-graphic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 500px;
  min-height: 500px;
}

/* HEADER END */

/* ABOUT */

#divider {
  min-height: 4rem;
  background-color: var(--light-blue);
}

#about {
  min-height: 40vh;
  background-color: var(--medium-grey);
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-img {
  background-image: url(/assets/about_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 750px;
  position: relative;
  filter: grayscale();
}
#about article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30vw;
}
#about article h2 {
  font-size: 3.6rem;
  line-height: 4rem;
  text-align: center;
  max-width: 70vw;
}

#toolbox {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem auto 4rem;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.skill {
  max-width: 4vh;
}
/* ABOUT END */

/* PROJECTS */
#projects {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#projects h2 {
  text-align: center;
  margin-bottom: 4rem;
}
#websites, #other {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 4rem;
}

.free-fridges-w {
  background-image: url(/assets/free-fridge-w.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: end;
  width: 450px;
  height: 300px;
  position: relative;
  left: -700px;
}
.louisiana-w {
  background-image: url(/assets/louisianna-w.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 450px;
  height: 300px;
  position: relative;
  right: -700px;
}

.quickit-w {
  background-image: url(/assets/quickit-w.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: end;
  width: 450px;
  height: 300px;
  position: relative;
  left: -700px;
}
.hogwarts-w {
  background-image: url(/assets/hogwarts-w.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 450px;
  height: 300px;
  position: relative;
  right: -700px;
}

.project article {
  display: none;
}
.project:hover article {
  position: absolute;
  width: 450px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.free-fridges-w:hover article {
  background-color: #afdcca;
  color: white;
}

.louisiana-w:hover article {
  background-color: #eed7c0;
  color: white;
}

.quickit-w article {
  background-color: #12524f;
  color: white;
}
.hogwarts-w article {
  background-color: #7c0011;
  color: white;
}

.overlay article h3 {
  font-size: 2.5rem;
}

/* PROJECTS END */

/* GET IN TOUCH */
#get-in-touch,
#what-i-am-good-at {
  min-height: 40vh;
  background-color: var(--dark-black);
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

#get-in-touch article,
#what-i-am-good-at article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--custom-white);
  max-width: 50vw;
  text-align: center;
}

#get-in-touch article h2,
#what-i-am-good-at article h2 {
  font-size: 3rem;
}

#get-in-touch article p,
#what-i-am-good-at article p {
  font-size: 1.2rem;
}
/* GET IN TOUCH END */

/* #####################  PROJECT PAGE  ########################## */

.project-header {
  display: flex;
  min-height: 40vh;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 2rem;
  flex-wrap: wrap-reverse;
  background-color: var(--dark-black);
}

.project-header .header_txt{
  color: var(--custom-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 80.5vw;
  gap: 10rem;
}

.header_txt .border-ff {
  border-left: 1.3rem solid #afdcca;
}

.project_desc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_desc section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 1;
  grid-gap: 8rem;

}

/* #####################  PROJECT PAGE END  ########################## */

/* #####################  CONTACT PAGE  ########################## */

.call_graphics {
  background-image: url(/assets/call-graphic_call-graphic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 500px;
  min-height: 400px;
}

#contact-info {
  display: grid;
  padding: 2rem;
  max-width: 60vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#contact_info {
  background-color: var(--dark-black);
  padding: 3rem;
  border-radius: 15px;
  min-width: 30vw;
  color: var(--custom-white);
}
.message {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  height: 90px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f2f2f4;
  resize: none;
}

input[type="text"],
select,
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical;
}
.send-btn {
  display: block;
  height: 40px;
  line-height: 40px;
  color: var(--dark-black);
  font-family: var(--teko);
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  cursor: pointer;
}

label {
  font-family: var(--mont);
}

.send {
  max-width: 120px;
  max-height: 35px;
}

/* #####################  CONTACT PAGE END ########################## */

/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-black);
  min-height: 15vh;
  color: var(--custom-white);
}

/* FOOTER END */
/* KEYFRAMES */
/* KEYFRAMES END */
/* MEDIA QUARIES */
/* MEDIA QUARIES END */
